@import '../styles.scss';

.container {
    background-color: $primary-color;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

    .header {
        grid-row: 1;
        padding: 2% 3% 0px;
    }

    .router{
        grid-row: 2;
    }

    .footer {
        grid-row: 3;
    }
}