@import '../styles.scss';

.container {
    background-color: $primary-color;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    padding: 2% 3% 0px;
    gap: 3rem;

    .header {
        grid-row: 1;
    }

    .router {
        grid-row: 2;
        overflow: hidden;
    }

    .footer {
        grid-row: 3;
    }
}