.login {
    width: 20vw;
    min-width: fit-content;
    height: 40vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}