<div class="home">
    <div class="information">
        <h2>Os melhores cursos <br> para <span>ensinar</span> você <br>
            do <span>zero</span> ao <span>avançado.</span></h2>
    </div>

    <div class="learn">
        <h2>Oque irá aprender?</h2>
        <div class="content">
            <div class="box active">
                <h2>violão</h2>
                <hr>
                <p>67,90</p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="content">
            <div class="box off">
                <h2>Teclado</h2>
                <hr>
                <p>57,90</p>
            </div>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
</div>
<div class="courses">
    <h2>Cursos</h2>
    <hr>
    <div class="cards">
        <app-card></app-card>
    </div>
</div>


