@import '../../../styles.scss';

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .information {
        width: 50%;
        height: 50%;

        h2 {
            font-size: 4rem;
            color: $item-menu-color;
        }

        span {
            color: #E84A33;
        }
    }

    .learn {
        width: 20%;
        display: flex;
        text-align: end;
        flex-direction: column;

        h2 {
            font-size: 1.6rem;
            padding: 0 1.7rem 1rem 1.7rem;
            color: $item-menu-color;
        }

        .content {
            display: flex;
            align-items: center;

            .active {
                background-color: #E84A33;

                h2 {
                    font-size: 1.3rem;
                    padding: 0;
                    font-weight: 400;
                    color: black;
                }

                hr {
                    width: 100%;
                    border-color: #292929;
                }
            }

            .off {
                background-color: $card-home-box;
                color: $item-menu-color;


                h2 {
                    font-size: 1.3rem;
                    padding: 0;
                    font-weight: 400;
                    color: $item-menu-color;
                }

                hr {
                    width: 100%;
                    background: $item-menu-color;
                }
            }

            .box {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                width: 100%;
                border-radius: 5px;
            }

            .fa-solid {
                font-size: 2rem;
                margin-left: 0.5rem;
                color: $item-menu-color;
            }

        }
    }
}

.courses {
    margin: 5rem 0;

    i {
        color: #868686;
        font-weight: bold;
        text-shadow: 1px 2px 1px black;
    }

    hr {
        width: 400px;
        border-color: #868686;
        margin: 1rem 0 2rem 0;
    }

    .cards {
        width: 100%;
        display: flex;
        gap: 1rem;
    }
}