.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  color: #868686;

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }

  .links {
    a {
      color: #868686;
      text-decoration: none;
      margin-left: 50px;

      &:hover {
        border-bottom: 2px solid #E84A33;
      }
    }
  }
}