<div class="home">
    <div class="information">
        <h2>Seja muito 
            <span>bem vindo</span>
            à sua plataforma de 
            <span>cursos onlines</span>
        </h2>
    </div>
    <div class="start_here">
        <div>
            <hr>
        </div>
        <i>Comece por aqui</i>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FoFQ-v-Cu7g?si=94Duby5uWAqZMpdg" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
</div>